footer{
    background-color: #1f2224;
    padding: 12px 15px;
    color: #ffffff;
    text-align: center;
    /* margin-top: 50px; */
}
header{
    border-bottom: 1.5px solid grey;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 55px;
}